[package]
name = "todo_core"
version = "0.0.1"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
time = { version = "0.3.36", features = ["formatting", "local-offset", "parsing"] }

